{% extends 'base.html' %}

{% block content %}

<style>
    body{
        background : url(https://cdn.discordapp.com/attachments/929765618708803584/1024939459495604234/backgroundghibli.jpg)
    }
</style>


<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <b class="navbar-brand" style = "color:#609f4e; margin-left: 10px; margin-right: 1050px">{{nama}}</b>
    <button><a href = "{% url 'wishlist:logout' %}">Logout</a></button>
    </nav>

<body>
    <h5>Nama: </h5>
    <b>{{nama}}</b>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
    
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>

</body>



{% endblock content %}